<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>
<body>
<h1>Welcome to Stock Exchange</h1>
<img src="" th:src="@{/images/bir1.png}" alt="Taco Cloud"/>

<h2 th:text="${greeting}"></h2>

<!--<ul th:each="instrument : ${instruments}">-->
<!--    <li th:text="${instrument.getId()}"></li>-->
<!--    <li th:text="${instrument.getPlacementDate()}"></li>-->
<!--    <li th:text="${instrument.getName()}"></li>-->
<!--    <li th:text="${instrument.getCost()}"></li>-->
<!--</ul>-->

<table>
    <tr>
        <th>ID</th>
        <th>Placement Date</th>
        <th>Name</th>
        <th>Cost</th>
    </tr>
    <tr th:each="instrument : ${instruments}">
        <td th:text="${instrument.getId()}"></td>
        <td th:text="${instrument.getPlacementDate()}"></td>
        <td th:text="${instrument.getName()}"></td>
        <td th:text="${instrument.getCost()}"></td>
    </tr>
</table>

<label><input type="button" value="Добавить" onclick="document.location.href='http://localhost:8080/instruments/form'"></label>
<label><input id="btn" type="button" value="Добавить (modal)"></label>
<div id="info"></div>
<table id="tbl">
    <tr>
        <th>ID</th>
        <th>Placement Date</th>
        <th>Name</th>
        <th>Cost</th>
    </tr>
    <tr th:each="instrument : ${instruments}">
        <td th:text="${instrument.getId()}"></td>
        <td onchange="ajaxFromOnlyOneCell(this); buildChart();"><label><input name="id" type="date" th:value="${instrument.getPlacementDate()}"></label></td>
        <td onchange="ajaxFromOnlyOneCell(this); buildChart();"><label><input name="id" type="text" th:value="${instrument.getName()}"></label></td>
        <td onchange="ajaxFromOnlyOneCell(this); buildChart();"><label><input name="id" type="number" th:value="${instrument.getCost()}"></label></td>
    </tr>
</table>
<div style="width: 600px; height: 400px">
    <canvas id="chart"></canvas>
</div>

<div id="prompt-form-container">
    <form id="prompt-form" method="post" th:action="@{/instruments}" th:object="${instrument}">
        <h1>Enter instrument!</h1>

        <div id="prompt-message"></div>

        <label for="placementDate">Placement date: </label>
        <input id="placementDate" type="date" th:field="*{placementDate}" placeholder="Enter placement date">
        <br>
        <label for="name">Name: </label>
        <input id="name" type="text" th:field="*{name}" placeholder="Enter name">
        <br>
        <label for="cost">Name: </label>
        <input id="cost" type="number" th:field="*{cost}" placeholder="Enter cost">
        <br>
        <input type="submit" value="Ok">

        <input type="button" name="cancel" value="Отмена">
    </form>
</div>


<script th:src="@{/js/Chart.min.js}" src="../../static/js/Chart.min.js"></script>
<script th:src="@{/js/chart.js}" src="../../static/js/chart.js"></script>

<script>
    'use strict';
    var tbl = document.getElementById("tbl");
    //printTable(tbl);    //print table

    //печать таблицы
    function printTable(hte) {    //t=[object HTMLTableElement]
        console.log("rows length: " + hte.rows.length);
        console.log("column length: " + hte.rows[0].cells.length);

        for (var i = 0; i < hte.rows.length; i++) {
            var rw = hte.rows[i];
            for (var j = 0; j < rw.cells.length; j++) {
                console.log("cell[" + i + "][" +j + "]: " + hte.rows[i].cells[j].innerHTML);
            }
        }
    }

    //получить id, row, column из обработчика
    function rc(hie) {
        console.log("object: " + hie);     //[object HTMLInputElement]
        console.log("cell value: " + hie.innerHTML);  //cell value
        var col = hie.cellIndex;  //cell index = column
        console.log('column: ' + col);
        console.log('row all: ' + tbl.rows.length);
        var row = getRow(hie, col);
        console.log('row: ' + row);
        var id = tbl.rows[row].cells[0].innerHTML;      //id
        console.log("ID: " + id + " row: " + row + " col: " + col);
        return [id, row, col];
    }

    //получить row из обработчика
    function getRow(hie, col) {
        for (var j = 0; j < tbl.rows.length; j++) {
            var row = tbl.rows[j];
            if (row.cells[col] === hie) return j;
        }
    }


    //запрос и отправка ajax
    function ajaxFromOnlyOneCell(hie) {     //[object HTMLInputElement]
        var ar = rc(hie);   //id:row:col
        var id = "id=" + ar[0];
        var placement_date = "placement_date=";
        var name = "name=";
        var cost = "cost=";
        var url = "http://localhost:8080/instruments/instr?";
        var val = hie.getElementsByTagName('label')[0].getElementsByTagName('input')[0].value;
        console.log("value: " + val);
        switch (ar[2]) {    //by col
            case 1:
                placement_date += val;
                break;
            case 2:
                name += val;
                break;
            case 3:
                cost += val;
                break;
        }
        url += id + "&" + placement_date + "&" + name + "&" + cost;
        console.log("url: " + url);
        ajax(url, "info");
    }

    //запрос ajax
    function ajax(url, el) {
        var req = ajaxRequest();
        req.open("GET", url, true);
        req.onreadystatechange = function () {
            if (this.readyState === 4) {    //4=completed
                if (this.status === 200) {      //200=OK
                    if (this.responseText != null) {
                        document.getElementById(el).innerHTML = this.responseText;
                    } else {
                        console.log("Error Ajax: Data no get!");
                    }
                } else {
                    console.log("Error Ajax: " + this.statusText);
                }
            }
        };
        req.send(null);
    }

    function ajaxRequest() {
        var req;
        try {
            req = new XMLHttpRequest();
        } catch (e) {
            try {
                req = new ActiveXObject("Msxml2.XMLHTTP");  //IE6+
            } catch (e) {
                try {
                    req = new ActiveXObject("Microsoft.XMLHTTP");   //IE 5
                } catch (e) {
                    req = null;
                }
            }
        }
        return req;
    }



    ///////////////////////////////////////modal window//////////////////////////////////////
    // Показать полупрозрачный DIV, чтобы затенить страницу
    // (форма располагается не внутри него, а рядом, потому что она не должна быть полупрозрачной)
    function showCover() {
        var coverDiv = document.createElement('div');
        coverDiv.id = 'cover-div';

        // убираем возможность прокрутки страницы во время показа модального окна с формой
        document.body.style.overflowY = 'hidden';

        document.body.append(coverDiv);
    }

    function hideCover() {
        document.getElementById('cover-div').remove();
        document.body.style.overflowY = '';
    }

    function showPrompt(text, callback) {
        showCover();
        var form = document.getElementById('prompt-form');
        var container = document.getElementById('prompt-form-container');
        document.getElementById('prompt-message').innerHTML = text;
        form.placementDate.value = '';
        form.name.value = '';
        form.cost.value = '';

        function complete(value) {
            hideCover();
            container.style.display = 'none';
            document.onkeydown = null;
            callback(value);
        }

        form.onsubmit = function () {
            var placementDate = form.placementDate.value;
            var name = form.name.value;
            var cost = form.cost.value;
            var value = "placementDate=" + placementDate + "&name=" +name + "&cost=" + cost;
            if (value === '') return false; // игнорируем отправку пустой формы

            complete(value);
            return true;    //отправка данные из формы
        };

        form.cancel.onclick = function () {
            complete('Cancel');
        };

        document.onkeydown = function (e) {
            if (e.key === 'Escape') {
                complete(null);
            }
        };

        var lastElem = form.elements[form.elements.length - 1];
        var firstElem = form.elements[0];

        lastElem.onkeydown = function (e) {
            if (e.key === 'Tab' && !e.shiftKey) {
                firstElem.focus();
                return false;
            }
        };

        firstElem.onkeydown = function (e) {
            if (e.key === 'Tab' && e.shiftKey) {
                lastElem.focus();
                return false;
            }
        };

        container.style.display = 'block';
        form.elements.placementDate.focus();
    }

    document.getElementById('btn').onclick = function () {
        showPrompt("Enter value", function (value) {
            console.log("You enter is: " + value);
        });
    };


</script>

</body>
</html>